.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  background: #000000;
}

.inputfields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 300px;
  border: 2px solid #000000;
  border-radius: 10px;
  display: block;
  background: white;
  margin-left: 100px;
  margin-top: 20px;
  box-shadow: 0 0 5px 1px black inset;
  font-family: "Oswald Bold", "Oswald Regular", "Oswald";
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  position: relative;
}

.map {
  display: block;
  position: relative;
  width: 832px;
  height: 624px;
  margin-left: 20px;
  margin-top: 20px;
}

.caption {
  display: flex;
  justify-content: center;
}

.inputfields .input_container .caption p {
  letter-spacing: -1px;
}

.input_container {
  padding: 20px;
  height: 100%;
}

input {
  font: none;
  font-family: "Oswald Bold", "Oswald Regular", "Oswald";
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}

.date_picker {
  padding: 5px;
  margin-right: 5px;
}

.time_pick {
  padding: 5px;
  margin-right: 5px;
  position: relative;
}

/*From materialize*/
.timepicker-digital-display {
  background-color: black;
}

.timepicker-span-hours,
.timepicker-span-minutes,
.timepicker-span-am-pm div {
  cursor: default;
}

.timepicker-span-hours {
  color: red;
}

.timepicker-close {
  color: black;
}

/*end change in materialize*/

.input_container .pretty-line {
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 8px;
}

.input_container .pretty-line hr {
  width: 100%;
  border: none;
  background-color: #000000;
  color: black;
  height: 1px;
  opacity: 0.6;
}

.input_container .select_free {
  padding: 5px;
  margin-top: 10px;
  margin-left: 5px;
}

.input_container .select_free select {
  font-family: "Oswald Bold", "Oswald Regular", "Oswald";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  display: block !important;
  width: 100% !important;
  border-color: rgb(169, 169, 169);
  height: auto;
  border-width: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-style: inset;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-color: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  /* border-bottom: 1px solid #9e9e9e; */
  border-radius: 0;
}

.comments {
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.comments #comments {
  font-family: "Oswald Bold", "Oswald Regular", "Oswald";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  display: block !important;
  width: 100% !important;
  height: 60px !important;
  border-width: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-style: inset;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-color: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  padding-left: 5px;
}

.userName{
  padding: 5px;
  margin-right: 5px;
}

.userName #name {
  width: 100%;
  height: auto;
}

.phone_number {
  padding: 5px;
  margin-right: 5px;
}

.phone_number #phone {
  width: 100%;
  height: auto;
}

.row {
  margin-bottom: 4px !important;
  margin-left: auto;
  margin-right: auto;
}

#entrylogin,
#entry-password,
#reglogin,
#regname,
#regtel,
#regpassword,
#confirmpassword,
#birthdate {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #9e9e9e !important;
  border-radius: 0 !important;
  outline: none !important;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0 !important;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  -webkit-transition: border .3s, -webkit-box-shadow .3s !important;
  transition: border .3s, -webkit-box-shadow .3s !important;
  transition: box-shadow .3s, border .3s !important;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-style: normal!important;
  font-weight: 400 !important;
}

#birthdate {
  /* font-family: "Oswald Bold", "Oswald Regular", "Oswald"; */
  font-weight: 100;
  font-style: normal;
  color: #343434;
}

.enter_to_profile {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.enter_to_profile a {
  color: rgb(34, 34, 34);
  text-decoration: underline;
  cursor: pointer;
}

.sendReservation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: #ea2727;
  color: white;
  border-radius: 5px;
  height: 60px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  opacity: 1;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.sendReservation:hover{
  background-color: #ee1414;
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.sendReservation::after{
  background-color: #ff0202;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  background: transparent;
}
::-webkit-datetime-edit-fields-wrapper {
  padding-left: 5px;
}
